.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

#drum-pad-container {
  display: flex;
  width: 15em;
  flex-wrap: wrap;
  width: 15em;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
}

.drum-pad {
  padding: 2em;
  background-color: #eee;
  cursor: pointer;
  text-align: center;
}

.drum-pad:hover {
  background-color: #ccc;
}

.drum-pad:active {
  background-color: orange;
}

#display {
  background-color: #333;
  color: #eee;
  padding: 1em;
}